html{
    display: grid;
    place-content: center;
}
body{
    font-family: "Figtree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(47, 88%, 63%);
    font-size: 16px;
    position: relative;
    height: 670px;
    margin: 0 auto;
}

section{
    background-color: #fff;
    width: 400px;
    min-height: 400px;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 7px solid #000;
    border-bottom: 7px solid #000;
    border-radius: 20px;
}

.illustration{
    display: block;
    width: 350px;
    height: auto;
    border-radius: 10px;
    margin: 1rem auto;
}

.second-p{
    display: block;
    color: hsl(0, 0%, 50%);
}

p,h2{
    margin-left: 2rem;
    margin-top: 0;
}

.topic{
    background-color: hsl(47, 88%, 63%);
    display: inline-block;
    font-weight: 900;
    padding: 0.5rem;
    border-radius: 10px;
}

.avatar{
    margin-left: 2rem;
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 0.5rem;
    gap: 0.5rem;
}

.avatar img{
    width:40px;
    height: 40px;
}

.avatar p{
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    font-weight: 900;
}

.attribution{
    position: absolute;
    left: -10000px;
}

@media (min-width:576px){
    body{
        height: 100vh;
    }
}